* {
  box-sizing: border-box;
}
header {
  background-color: #00ace6;
  color: white;
  position: relative;
  text-indent: 100px;
  padding-top: 25px;
}
nav {
  background-color: lightgrey;
  color: black;
  width: 100%;
  position: relative;
  float: left;
  height: 50px;
}
h1 {
    text-align: left;
  font-size: 50px;
}
h2 {
  font-style: italic;
  text-align: left;
    font-size: 20px;
}
h4 {
  font-size: 20px;
}
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
}
.content-box {
  height: 100%;
  margin: 0 auto;
  width: 60%;
  position: relative;
  float: left;
  line-height: 1.5;
}
.blue {
  color: #00a3cc;
}
p.blue {
  font-size: 20px;
}
.sidebar-box {
  height: 100%;
  width: 30%;
  position: relative;
  float: right;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 25px;
}
.footer {
  background-color: #4d4d4d;
  color: white;
  text-align: center;
  line-height: 1.5;
  padding: 4rem;
  width: 100%;
}
.logo {
  align-items: center;
  margin: auto;
}
a {
    text-decoration-line: none;
}
ul {
  display: inline;
  list-style-type: none;
  border-color: lightgrey;
}
li {
  color: white;
  float: left;
  text-align: center;
  margin: auto;
  text-decoration: none;
}
li:after {
  content: " / ";
}
li:last-child:after {
    content: " ";
  }
.clearfix::after {
content: "";
display: block;
clear: both;
}
